:root {
    --color-gris: #FFFFFF;
    --color-fondo: #EEEBE0;
    --color-primario: #635E55;
    --color-primario-hover: #4D4942;
    --color-secundario: #E2D1C2;
    --color-secundario-hover: #D6C2B0;
    --color-texto: #322F2B;
    --fuente-titulos: 'Playfair Display', serif;
    --fuente-textos: 'Montserrat', sans-serif;
    --tamaño-texto: 16px;
    --tamaño-texto-l: 20px;
    --gap-xs: 5px;
    --gap-s: 10px;
    --gap: 15px;
    --gap-l: 25px;
    --gap-xl: 40px;
    --radius: 10px;
    --radius-s: 5px;
    --radius-l: 100px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-textos);
    font-size: var(--tamaño-texto);
}

img {
    width: 100%;
    height: auto;
    border-radius: var(--radius);
}

a {
    color: var(--color-primario);
    text-decoration: none;
}

a:hover {
    color: var(--color-primario-hover);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: var(--gap-l);
    font-family: var(--fuente-titulos);
}

h1 {
    color: var(--color-primario);
    font-size: calc(var(--tamaño-texto) * 3);
}

h2 {
    color: var(--color-primario);
    font-size: calc(var(--tamaño-texto) * 1.7);
}

h3 {
    margin-bottom: var(--gap-s);
}

p {
    margin-bottom: var(--gap);
}

ul {
    padding-left: var(--gap-l);
}

li {
    margin-bottom: var(--gap-xs);
}

table {
    border: 1px solid var(--color-texto);
    width: 100%;
    text-align: center;
}

th {
    border: 1px solid var(--color-texto);
    padding: var(--tamaño-texto);
}

td {
    border: 1px solid var(--color-texto);
    padding: var(--gap);
}

tfoot {
    font-weight: 600;
}

.texto-centrado {
    text-align: center;
}

.texto-izquierda {
    text-align: left;
}

.texto-derecha {
    text-align: right;
}

.texto-balanceado {
    text-wrap: balance;
}

.lista-limpia {
    padding-left: 0;
    list-style: none;
    margin: 20px 0;
}

.lista-puntos {
    margin: 20px 0;
}

.lista-limpia li {
    margin-bottom: var(--margin-xs);
}

.lista-menu {
    display: flex;
    gap: var(--gap-s);
    justify-content: center;
    align-items: center;
    padding-left: 0;
    list-style: none;
}
.lista-menu li {
    margin-bottom: 0;
}

.lista-menu li a {
    text-decoration: none;
}

.lista-menu li a:hover {
    text-decoration: underline;
}

/* SISTEMAS GRILLA */

.display-grid {
    display: grid;
    gap: var(--gap);
}

.display-grid-l {
    gap: var(--gap-l);
}

.display-grid-2 {
    grid-template-columns: repeat(2,1fr);
}

.display-grid-3 {
    grid-template-columns: repeat(3,1fr);
}

.display-grid-4 {
    grid-template-columns: repeat(4,1fr);
}

/* AJUSTES DE IMAGENES */

.img-cover {
    object-fit: cover;
}


.boton {
    padding: var(--gap-s) var(--gap-l) var(--gap-s) var(--gap-l); /* Arriba, derecha, abajo e izquierda */
    display: inline-block;
    border-radius: var(--radius-l);
    text-decoration: none;
}

.boton-l {
    font-size: var(--tamaño-texto-l);
    padding: var(--gap) var(--gap-l) var(--gap) var(--gap-l);
}

.boton-primario {
    background-color: var(--color-primario);
    color: white;
}

.boton-primario:hover {
    background-color: var(--color-primario-hover);
    color: white;  
}

.boton-secundario {
    background-color: var(--color-secundario);
    color: var(--color-primario-hover);
}

.boton-secundario:hover {
    background-color: var(--color-secundario-hover);
    color: var(--color-primario-hover);  
}
.contenedor {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: var(--gap);
    
    /* border: 1px solid var(--color-texto);
    border-radius: var(--tamaño-texto);*/
}

.cabezal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marca {
    font-family: var(--fuente-titulos);
    font-size: var(--tamaño-texto-l);
    font-weight: 600;
    color: var(--color-primario);
}

.seccion {
    padding-top: var(--gap-l);
    padding-bottom: var(--gap-l);
}

.seccion-xl {
    padding-top: var(--gap-xl);
    padding-bottom: var(--gap-xl);
}

.grilla-flex {
    display: flex;
    gap: var(--gap);
}

.icono-review {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;

}

.pie-de-pagina {
    background-color: var(--color-gris);
    border-radius: var(--radius);
    padding: var(--gap);
}

.separacion-redes {
    margin-top: var(--tamaño-texto);
    margin-bottom: var(--tamaño-texto);
}

/* SISTEMAS DE MARGIN Y PADDING */

.margin-bottom {
    margin-bottom:  var(--gap);
}

.margin-bottom-xs {
    margin-bottom:  var(--gap-xs);
}

.margin-bottom-s {
    margin-bottom:  var(--gap-s);
}

.margin-bottom-l {
    margin-bottom:  var(--gap-l);
}

.margin-bottom-xl {
    margin-bottom:  var(--gap-xl);
}

.margin-top {
    margin-top:  var(--gap);
}

.margin-top-xs {
    margin-top:  var(--gap-xs);
}

.margin-top-s {
    margin-top:  var(--gap-s);
}

.margin-top-l {
    margin-top:  var(--gap-l);
}

.margin-top-xl {
    margin-top:  var(--gap-xl);
}

.padding-bottom {
    padding-bottom:  var(--gap);
}

.padding-bottom-xs{
    padding-bottom:  var(--gap-xs);
}

.padding-bottom-s {
    padding-bottom:  var(--gap-s);
}

.padding-bottom-l {
    padding-bottom:  var(--gap-l);
}

.padding-top {
    padding-top:  var(--gap);
}

.padding-top-xs{
    padding-top:  var(--gap-xs);
}

.padding-top-s {
    padding-top:  var(--gap-s);
}

.padding-top-l {
    padding-top:  var(--gap-l);
}

/* TESTIMONIOS */

.tarjeta-testimonios {
    background-color: var(--color-gris);
    border-radius: var(--radius);
    padding: var(--gap);
}

