:root {
    --color-gris: #FFFFFF;
    --color-fondo: #EEEBE0;
    --color-primario: #635E55;
    --color-primario-hover: #4D4942;
    --color-secundario: #E2D1C2;
    --color-secundario-hover: #D6C2B0;
    --color-texto: #322F2B;
    --fuente-titulos: 'Playfair Display', serif;
    --fuente-textos: 'Montserrat', sans-serif;
    --tamaño-texto: 16px;
    --tamaño-texto-l: 20px;
    --gap-xs: 5px;
    --gap-s: 10px;
    --gap: 15px;
    --gap-l: 25px;
    --radius: 10px;
    --radius-s: 5px;
    --margin: 20px;
    --margin-xs: 10px;
    --margin-s: 15px;
    --margin: 20px;
    --margin-l: 25px;
    --margin-xl: 35px;
    --padding: 20px;
    --padding-xs: 10px;
    --padding-s: 15px;
    --padding: 20px;
    --padding-l: 25px;
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-textos);
    font-size: var(--tamaño-texto);
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: var(--margin-l);
}

a {
    color: var(--color-primario);
    text-decoration: none;
}

a:hover {
    color: var(--color-primario-hover);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: var(--margin-xl);
    font-family: var(--fuente-titulos);
}

h1 {
    color: var(--color-primario);
    font-size: calc(var(--tamaño-texto) * 3);
}

h2 {
    color: var(--color-primario);
    font-size: calc(var(--tamaño-texto) * 1.7);
}

h3 {
    margin-bottom: var(--gap-s);
}

p {
    margin-bottom: var(--gap);
}

ul {
    padding-left: var(--gap-l);
}

li {
    margin-bottom: var(--gap-xs);
}

table {
    border: 1px solid var(--color-texto);
    width: 100%;
    text-align: center;
}

th {
    border: 1px solid var(--color-texto);
    padding: var(--tamaño-texto);
}

td {
    border: 1px solid var(--color-texto);
    padding: var(--gap);
}

tfoot {
    font-weight: 600;
}


footer {
    text-align: center;
}

.texto-centrado {
    text-align: center;
}

.texto-izq {
    text-align: left;
}

.text-der {
    text-align: right;
}

.lista-limpia {
    padding-left: 0;
    list-style: none;
    margin: 20px 0;
    
}

.lista-limpia li {
    margin-bottom: var(--margin-xs);
}

.lista-menu {
    display: flex;
    gap: var(--gap-s);
    justify-content: center;
}

.lista-menu li a {
    text-decoration: none;
}

.lista-menu li a:hover {
    text-decoration: underline;
}

/* SISTEMAS GRILLA */

.display-grid {
    display: grid;
    gap: var(--gap);
}

.display-grid-l {
    gap: var(--gap-l);
}

.display-grid-2 {
    grid-template-columns: repeat(2,1fr);
}

.display-grid-3 {
    grid-template-columns: repeat(3,1fr);
}

.display-grid-4 {
    grid-template-columns: repeat(4,1fr);
}

/* AJUSTES DE IMAGENES */

.img-cover {
    object-fit: cover;
}


.boton {
    padding: var(--gap-s) var(--gap) var(--gap-s) var(--gap); /* Arriba, derecha, abajo e izquierda */
    display: inline-block;
    border-radius: var(--radius-s);
    text-decoration: none;
}

.boton-l {
    font-size: var(--tamaño-texto-l);
    padding: var(--gap) var(--gap-l) var(--gap) var(--gap-l);
}

.boton-primario {
    background-color: var(--color-primario);
    color: white;
}

.boton-primario:hover {
    color: white;
    background-color: var(--color-primario-hover);
}

.boton-secundario {
    background-color: var(--color-secundario);
    color: var(--color-primario-hover);
}

.boton-secundario:hover {
    color: white;
    background-color: var(--color-secundario-hover);
}
.contenedor {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: var(--gap);
    
    /* border: 1px solid var(--color-texto);
    border-radius: var(--tamaño-texto);*/
}

.cabezal {
    background-color: var(--color-gris);
    border-radius: var(--radius);
    padding: var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seccion {
    padding-top: var(--gap-l);
    padding-bottom: var(--gap-l);
}

.grilla-flex {
    display: flex;
    gap: var(--gap);
}

.icono-review {
    width: 50px;
    height: 50px;

}

.pie-de-pagina {
    background-color: var(--color-gris);
    border-radius: var(--radius);
    padding: var(--gap);
}

.separacion-redes {
    margin-top: var(--tamaño-texto);
    margin-bottom: var(--tamaño-texto);
}

/* SISTEMAS DE MARGIN Y PADDING */

.margin {
    margin: var(--margin);
}

.margin-xs {
    margin: var(--margin-xs);
}

.margin-s {
    margin: var(--margin-s);
}

.margin-l {
    margin: var(--margin-l);
}

.margin-xl {
    margin: var(--margin-xl);
}

.padding {
    padding: var(--padding);
}

.padding-xs{
    padding: var(--padding-xs);
}

.padding-s {
    padding: var(--padding-s);
}

.padding-l {
    padding: var(--padding-l);
}

#cabezal ul{
    align-items: center;
}

